[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bcrypt = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
sqlalchemy-serializer = "*"

[dev-packages]
alembic = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
